@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7eedd;
}

h2 {
  color: #616e45;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
h1,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-align: left;
}

.task-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.task {
  background-color: #969f76;
  width: 45%;
  text-align: center;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
  border: solid 2px  #616e45;

}

.taskcompleted {
  background-color: #e6d1cc;
  text-decoration: line-through #707070;
  width: 45%;
  text-align: center;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
  border: solid 2px  #616e45;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  border: none;
  background-color: #e6d1cc;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: #707070;
  border-bottom: 1px solid #707070;
  margin-right: 8px;
}

button {
  background-color: #616e45;
  border: 1px solid #616e45;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: #e64944;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}